// @import '../../shared.scss';

.playbutton {
    /* 48px mobile, 75px tablet (768px) and above */
    height: clamp(48px, 11vw, 75px);
    border: none;
    border-radius: 50%;
    padding: 0;
}

.playsvg:hover {
    fill: white;
}

.playsvg circle:hover {
    fill: $purple;
    opacity: 100%;
}