@import '../../shared.scss';

.select {
    font-size: $c14-to-18;
    font-weight: 700;
    color: inherit;
    background-color: inherit;
    border: none;
    /* replace CoreUI's custom caret with the one for this design */
    background-image: url(../../assets/images/icon-arrow-down.svg);
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
}

.select:focus {
    border: 1px solid $purple;
    box-shadow: none;
}

.sanserif {
    font-family: $sanserif;
}

.serif {
    font-family: $serif;
}

.mono {
    font-family: $mono;
}