.wordheader {
    margin-top: clamp(1.5rem, 9vw, 3rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wordheader h1 {
    font-weight: 700;
    font-size: clamp(2rem, 11vw, 4rem);
}

.wordheader p {
    color: var(--purple);
    font-size: clamp(1.125rem, 3vw, 1.5rem);
    line-height: clamp(1.5rem, 4vw, 1.8125rem);
}

.source {
    font-size: 0.875rem;
    display: flex;
    gap: clamp(10px, 2vw, 20px);
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid var(--gray6);
}

.source h3 {
    color: var(--gray5);
    font-weight: 400;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

.source a {
    color: inherit;
}

.source img {
    display: inline-block;
    margin-left: 10px;
}
