.wordheader {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wordheader h1 {
    font-weight: 700;
    font-size: clamp(2rem, 11vw, 4rem);
}

.wordheader p {
    color: var(--purple);
    /* body M up to heading M  */
    font-size: clamp(1.125rem, 3vw, 1.5rem);
    line-height: clamp(1.5rem, 4vw, 1.8125rem);
}

.partofspeechsection {
    margin: 1rem 0;
}

.partofspeechsection h2 {
    font-weight: 700;
    font-style: italic;
    margin-bottom: 1rem;
}

.partofspeechsection h3 {
    color: var(--gray5);
    font-weight: 400;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    line-height: clamp(1.25rem, 2.5vw, 1.5rem);
}

.partofspeechsection ul {
    margin-bottom: 2rem;
}

.partofspeechsection li {
    margin-bottom: .5rem;
}

.meaningh3 {
    margin: .75rem 0;
}

.synonymssection {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    line-height: clamp(1.25rem, 2.5vw, 1.5rem);
    display: flex;
    gap: clamp(10px, 2vw, 20px);
}

.synonymsh3 {
    margin: 0;
}

.synonymssection > * {
    margin: 0;
}

.synonymssection a {
    color: var(--purple);
    font-weight: 700;
    text-decoration: none;
}

.source {
    font-size: 0.875rem;
    display: flex;
    gap: clamp(10px, 2vw, 20px);
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid var(--gray6);
}

.source h3 {
    color: var(--gray5);
    font-weight: 400;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

.source a {
    color: inherit;
}

.source img {
    display: inline-block;
    margin-left: 10px;
}
