@import '../../shared.scss';

/* this element (toggle plus icon together) is 20px high at all screen sizes */

.darkmodeform {
    display: flex;
    flex-direction: row;
    height: $s20;
    gap: 10px;
    cursor: pointer;

    * {
        cursor: inherit;
    }

    // *:hover {
    //     stroke: $purple;
    // }
}

.svg {
    height: $s20;
    width: $s20;

    &:hover {
        stroke: $purple;
    }
}



