@import '../../shared.scss';

/* this element (toggle plus icon together) is 20px high at all screen sizes */

.darkmodeform {
    display: flex;
    flex-direction: row;
    height: 1.25rem;
    gap: 10px;
    cursor: pointer;
}

.darkmodeform:hover {
    color: $purple;
}

// need to listen for clicks on outer element

// need to get cursor: pointer on each element when this is fixed
.switch {
    cursor: pointer;
}