@import '../../shared.scss';

.inputwrapper {
  display: flex;
  margin: 1.5rem 0 0 0;
  justify-content: flex-end;
  align-items: center;
}

.input {
  width: 100%;
  font-weight: 700;
  height: $c48-to-64;
  font-size: $c16-to-20;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $gray7;
  caret-color: $purple;
  cursor: pointer;
  color: inherit;
  
  &:invalid {
    border-color: $red;
  }

  &:focus {
    border: 1px solid $purple;
    box-shadow: none;
    background-color: $gray7;
    color: inherit;
  } 
}

.button {
  position: absolute;
  margin-right: 14px;
  border: none;
  background-color: inherit;
  padding: 0 6px;
}

