.input {
    width: 100%;
    height: 3rem;
    margin: 1.5rem 0 0 0;
}

.input:focus {
    border-color: var(--purple);
    box-shadow: none;
}

.emptyerror {
    color: var(--red);
    position: absolute;
}