@import '../../shared.scss';

.entrysection {
    margin: 1rem 0;
}

/* line after h2 using pseudoelement borrowed from
https://codepen.io/danrigsby/pen/waOOvw */

.entrysection h2 {
    font-weight: 700;
    font-style: italic;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
}

.entrysection h2 span {
    display: block;
    position: relative;
}

.entrysection h2 span::after {
    content: '';
    position: absolute;
    border-top: 1px solid $gray6;
    width: 100%;
    top: 50%;
    margin-left: 20px;
}

.entrysection h3 {
    color: var(--gray5);
    font-weight: 400;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    line-height: clamp(1.25rem, 2.5vw, 1.5rem);
}

.entrysection ul {
    margin-bottom: 2rem;
}

.entrysection li {
    margin-bottom: .5rem;
}

.entrysection li::marker {
    color: $purple;
}

.meaningh3 {
    margin: .75rem 0;
}

.example {
    color: $gray5;
    list-style-type: none;
}

.synonymssection {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    line-height: clamp(1.25rem, 2.5vw, 1.5rem);
    display: flex;
    gap: clamp(10px, 2vw, 20px);
}

.synonymsh3 {
    margin: 0;
}

.synonymssection > * {
    margin: 0;
}

.synonymssection span {
    color: $purple;
    font-weight: 700;
    text-decoration: none;
    padding: 0 10px;
    display: inline-block;
} 
