/* font selections
sanserif: Inter reg, bold
serif: Lora reg, bold, bolditalic
mono: Inconsolata reg, bold
*/

/* theme selections: light & dark */

/* font sizes: 24, 20, 18, 14 */

/* line heights: 29, 24, 17 */

/* comp sizes: 375px, 768px, 1440px w/ 736px content width for header, search, br, but a little extra padding on the right in the text sections */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

.app {
  --sanserif: 'Inter', sans-serif;
  --serif: 'Lora', serif;
  --mono: 'Inconsolata', monospace;

  font-family: var(--sanserif);

  /* font-size for the main text, which is the definition bullets here */
  font-size: clamp(0.9375rem, 3vw, 1.125rem);

  --gray1: #050505;
  --gray2: #1F1F1F;
  --gray3: #2D2D2D;
  --gray4: #3A3A3A;
  --gray5: #757575;
  /* drawn borders are gray6 */
  --gray6: #E9E9E9;
  --gray7: #F4F4F4;
  --purple: #A445ED;
  --red: #FF5252;

  background-color: white;
  color: var(--gray3);

  /* 1rem = 16px */
  /* 
  --s77: 4.8125rem;
  --s64: 4rem;
  --s29: 1.8125rem;
  --s24: 1.5rem;
  --s20: 1.25rem;ß
  --s18: 1.125rem;
  --s17: 1.0625rem;
  --s15: 0.9375rem;
  --s14: 0.875rem; 
  */
 

  /* clamp settings for fonts */
  /* 
  --c14-to-18: clamp(0.875rem, 3vw, 1.125rem);
  --c15-to-18: clamp(0.9375rem, 3vw, 1.125rem); 
  --c18-to-24: clamp(1.125rem, 3vw, 1.5rem);
  --c32-to-64: clamp(2rem, 11vw, 4rem);
  */

  /* for line heights */
  /* 
  --c20-to-24: clamp(1.25rem, 2.5vw, 1.5rem);
  --c24-to-29: clamp(1.5rem, 4vw, 1.8125rem);
  */

  /* top padding should go up to 58px, side 32px */
  padding-top: clamp(1.5rem, 5vmax, 3.625rem);
  padding-bottom: clamp(1.5rem, 5vmax, 3.625rem);
  padding-left: clamp(24px, 3vmax, 32px);
  padding-right: clamp(24px, 3vmax, 32px);
}

.app.darkmode {
  background-color: var(--gray1);
  color: var(--gray5);
}

/* .app.sanserif {
  font-family: var(--sanserif);
}

.app.serif {
  font-family: var(--serif);
}

.app.mono {
  font-family: var(--mono);
} */

.wrapper {
  max-width: 46rem;
  margin: 0 auto;
}