/* font selections
sanserif: Inter reg, bold
serif: Lora reg, bold, bolditalic
mono: Inconsolata reg, bold
*/

/* comp sizes: 375px, 768px, 1440px w/ 736px content width for header, search, br, but a little extra padding on the right in the text sections */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

.app {
  --sanserif: "Inter", sans-serif;
  --serif: "Lora", serif;
  --mono: "Inconsolata", monospace;

  /* font-size for the main text, which is the definition bullets here */
  font-size: clamp(0.9375rem, 3vw, 1.125rem);

  --gray1: #050505;
  --gray2: #1f1f1f;
  --gray3: #2d2d2d;
  --gray4: #3a3a3a;
  --gray5: #757575;
  /* drawn borders are gray6 */
  --gray6: #e9e9e9;
  --gray7: #f4f4f4;
  --purple: #a445ed;
  --red: #ff5252;

  background-color: white;
  color: var(--gray3);

  /* 1rem = 16px */

  /* 
  --s77: 4.8125rem;
  --s64: 4rem;
  --s29: 1.8125rem;
  --s24: 1.5rem;
  --s20: 1.25rem;
  --s18: 1.125rem;
  --s17: 1.0625rem;
  --s15: 0.9375rem;
  --s14: 0.875rem; 
  */

  /* clamp settings for fonts */
  /* 
  --c14-to-18: clamp(0.875rem, 3vw, 1.125rem);
  --c15-to-18: clamp(0.9375rem, 3vw, 1.125rem);
  --c16-to-20: clamp(1rem, 3vw, 1.25rem);
  --c18-to-24: clamp(1.125rem, 3vw, 1.5rem);
  --c32-to-64: clamp(2rem, 11vw, 4rem);
  */

  /* for line heights */
  /* 
  --c20-to-24: clamp(1.25rem, 2.5vw, 1.5rem);
  --c24-to-29: clamp(1.5rem, 4vw, 1.8125rem);
  */

  /* for search box */
  /* 
  --c48-to-64: clamp(3rem, 8.5vw, 4rem);
   */

  /* top padding should go up to 58px, side 32px */
  padding-top: clamp(1.5rem, 5vmax, 3.625rem);
  padding-bottom: clamp(1.5rem, 5vmax, 3.625rem);
  padding-left: clamp(24px, 3vmax, 32px);
  padding-right: clamp(24px, 3vmax, 32px);
}

.app.darkmode {
  background-color: var(--gray1);
  color: white;
}

.app.sanserif {
  font-family: var(--sanserif);
}

.app.serif {
  font-family: var(--serif);
}

.app.mono {
  font-family: var(--mono);
}

.wrapper {
  max-width: 46rem;
  margin: 0 auto;
  height: 100vh;
}

.hidden {
  display: none;
}

.form-text {
  color: var(--red);
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%28255, 255, 255, 1%29%27/%3e%3c/svg%3e");
}

.form-switch .form-check-input:focus {
  border-color: var(--purple);
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%28255, 255, 255, 1%29%27/%3e%3c/svg%3e");
}

.form-check-input {
  background-color: var(--gray5);
}

.form-check-input:hover {
  background-color: var(--purple);
}

.app.darkmode .form-check-input {
  background-color: var(--purple);
}


.app.darkmode .inputwrapper {
  background-color: var(--gray2);
}