// coreui stylesheets
@import "../node_modules/@coreui/coreui/scss/coreui";

// fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

// custom variables
@import "./shared.scss";

/* comp sizes: 375px, 768px, 1440px w/ 736px content width */

.app {
  /* font-size for the main text (definition bullets) */
  font-size: $c15-to-18;

  /* top padding should go up to 58px, side 32px */
  padding-top: clamp(1.5rem, 5vmax, 3.625rem);
  padding-bottom: clamp(1.5rem, 5vmax, 3.625rem);
  padding-left: clamp(24px, 3vmax, 32px);
  padding-right: clamp(24px, 3vmax, 32px);
}

.app.darkmode {
  background-color: $gray1;
  color: white;

  #search-box {
    background-color: $gray2;
  }
}

.app.sanserif {
  font-family: $sanserif;
}

.app.serif {
  font-family: $serif;
}

.app.mono {
  font-family: $mono;
}

.wrapper {
  max-width: 46rem;
  margin: 0 auto;
  height: 100vh;
}

.hidden {
  display: none;
}

.form-text {
  color: $red;
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%28255, 255, 255, 1%29%27/%3e%3c/svg%3e");
}

.form-switch .form-check-input:focus {
  border-color: $purple;
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%28255, 255, 255, 1%29%27/%3e%3c/svg%3e");
}

.form-check-input {
  background-color: $gray5;
}

.form-check-input:hover {
  background-color: $purple;
}

.app.darkmode .form-check-input {
  background-color: $purple;
}
