// coreui stylesheets
@import "../node_modules/@coreui/coreui/scss/coreui";

// fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

$gray1: #050505;
$gray2: #1f1f1f;
$gray3: #2d2d2d;
$gray4: #3a3a3a;
$gray5: #757575;
$gray6: #e9e9e9;
$gray7: #f4f4f4;
$purple: #a445ed;
$red: #ff5252;

$body-bg: white;
$body-color: $gray3;

$sanserif: "Inter", sans-serif;
$serif: "Lora", serif;
$mono: "Inconsolata", monospace;

$s77: 4.8125rem;
$s64: 4rem;
$s29: 1.8125rem;
$s24: 1.5rem;
$s20: 1.25rem;
$s18: 1.125rem;
$s17: 1.0625rem;
$s15: 0.9375rem;
$s14: 0.875rem; 

// default font size
$c15-to-18: clamp($s15, 3vw, $s18);

// fonts
$c14-to-18: clamp($s14, 3vw, $s18);
$c15-to-18: clamp($s15, 3vw, $s18);
$c16-to-20: clamp(1rem, 3vw, $s20);
$c18-to-24: clamp($s18, 3vw, $s24);
$c32-to-64: clamp(2rem, 8vw, 4rem);

// line-heights
$c20-to-24: clamp($s20, 2.5vw, $s24);
$c24-to-29: clamp($s24, 4vw, $s29);

// header height
$c32-to-36-5: clamp(2rem, 4.7vw, 2.25rem);

// search box height
$c48-to-64: clamp(3rem, 9.2vw, 4rem);
