@import '../../shared.scss';

.noresult {
    text-align: center;
    margin-top: 8rem;
}

.noresult .emoji {
    font-size: 64px;
}

.noresult h1 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 2rem;
}